In [2]:
sc.stop()
import pandas as pd
import numpy as np
import re

In [2]:
df1 = pd.DataFrame([r.split('\t') for r in open('./data/regions_stat.txt','r').read().split('\n')][1:])
df2 = pd.DataFrame([r.split('\t') for r in open('./data/regions_UTC.txt','r').read().split('\n')][:-1]) #pd.read_csv('./data/regions_UTC.txt')
df3 = pd.DataFrame([r.split('\t') for r in open('./data/regions_salary.txt','r').read().split('\n')]) #pd.read_csv('./data/regions_UTC.txt')

In [93]:
#df11 = pd.DataFrame([r.split(',') for r in open('./data/regions_extended_stat.csv','r').read().split('\n')][1:])
#df10 = pd.DataFrame([r.split('\t') for r in open('./data/phone_codes_regions.txt','r').read().split('\n')][1:])

In [66]:

def nearest_neighbour(a, target_list):
    '''selects nearest string from target_list to string a. Returns index of nearest neighbour. 
       a and target_list elements must be in lower case'''
    stat = []
    for n in range(len(a)):
        dist = []
        ngram_a = [a[i:i+n] for i in range(len(a) - n)]
        ngram_list = [[e[i:i+n] for i in range(len(e) - n)] for e in target_list]
        for l in ngram_list:
            inter = len(filter(lambda e: e in ngram_a,l))
            dist.append(float(inter)/(len(ngram_a) + len(l) - inter))
        n_nearest = dist.index(min(dist))        
        k = (sum(dist[:n_nearest] + dist[n_nearest:])/(len(dist)-1) - dist[n_nearest]) / np.std(dist[:n_nearest] + dist[n_nearest:])
        if(k > 2):
            return n_nearest
        stat.append([n_nearest,k])
    k_max = max([e[1] for e in stat])
    for n,k in stat:
        if k == k_max:
            return n

def nearest_string(a, target_list):
    '''selects nearest string from target_list to string a. Returns index of nearest neighbour. 
       a and target_list elements must be in lower case'''
    stat = []
    for n in range(1,len(a)):
        dist = []
        ngram_a = {a[i:i+n] for i in range(len(a) - n)}
        ngram_list = [{e[i:i+n] for i in range(len(e) - n)} for e in target_list]
        for l in ngram_list:            
            dist.append(1 - float(len(ngram_a.intersection(l)))/len(ngram_a.union(l)))
        n_nearest = dist.index(min(dist))        
        k = (sum(dist[:n_nearest] + dist[n_nearest:])/(len(dist)-1) - dist[n_nearest]) / (1e-10 + np.std(dist[:n_nearest] + dist[n_nearest:]))
        if(k > 3):
            return n_nearest
        stat.append([n_nearest,k])
    k_max = max([e[1] for e in stat])    
    for n,k in stat:
        if k == k_max:
            return n

In [4]:
df4 = pd.concat(
    [df1,
     pd.DataFrame(df1[1].map(lambda v : df2.iloc[nearest_string(v,df2[0].values.tolist())].values.tolist()).values.tolist())
     ,pd.DataFrame(df1[1].map(lambda v : df3.iloc[nearest_string(v,df3[0].values.tolist())].values.tolist()).values.tolist())
    ],axis = 1)

In [86]:
#df12 = pd.concat(
#    [df10,
#     pd.DataFrame(df10[1].map(lambda v : df11.iloc[nearest_string(v,df11[2].values.tolist()[:-1]),1:3].values.tolist()).values.tolist())
#    ],axis = 1)  
#df12.to_csv('./data/tmp1.csv')

In [92]:
df4.to_csv('./data/tmp.csv')

In [198]:
cols_to_take = [0,1,2,3,5,8	,10,12,13,15]
col_names =  ['index','name','population','pop_country_share','pop_city_share','area_sq_km','federal_district',
              'time_zone','utc_zone','avg_salary_2015_rub']

In [246]:
df5 = df4.iloc[:,cols_to_take]
df5.columns = col_names
for c in ['pop_country_share','pop_city_share']:
    df5.loc[:,c] = df5[c].map(lambda v:float(re.findall('[0-9]+,[0-9]+',v)[0].replace(',','.'))/100)
    
def handle_utc(s):
    a = re.findall('(\+{0,1}\-{0,1})([0-9]{1,2}):([0-9]+)',s)
    if a:
        return (1 - 2 * (a[0][0] == '-')) * (int(a[0][1]) + float(a[0][2])/60)
    else:
        return None
    
df5['utc_zone_val'] = df5['utc_zone'].map(handle_utc)

/opt/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [248]:
df5.head()

,index,name,population,pop_country_share,pop_city_share,area_sq_km,federal_district,time_zone,utc_zone,avg_salary_2015_rub,utc_zone_val
0,1,Москва,12330126,0.0841,0.9878,2511,ЦФО,МСК,UTC+3:00,59567,3
1,2,Московская область,7318647,0.0499,0.8160,44379,ЦФО,МСК,UTC+3:00,38396,3
2,3,Краснодарский край,5513804,0.0376,0.5432,75485,ЮФО,МСК,UTC+3:00,31376,3
3,4,Санкт-Петербург,5225690,0.0357,1.0000,1403,СЗФО,МСК,UTC+3:00,39845,3
4,5,Свердловская область,4330006,0.0295,0.8448,194307,УФО,МСК+2,UTC+5:00,34696,5

In [251]:
sc = SparkContext()
hc = HiveContext(sc)

df5.to_csv('./data/regions_extended_stat.csv')
hc.sql('drop table if exists regions_temp1')
hc.registerDataFrameAsTable(hc.createDataFrame(df5), 'regions_temp1')
#hc.sql('drop table if exists user_kposminin.delivery_results2')
hc.sql('create table hermes.region_stat as select * from regions_temp1')

DataFrame[]